<h1>Impressum</h1>
<div class="overflow-container">
  <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
  <p>
    Marco S&uuml;ss<br />
    Vogesenstra&szlig;e 22<br />
    78549 Spaichingen
  </p>

  <h2>Kontakt</h2>
  <p>
    Telefon: 017641004206<br />
    E-Mail: suess_1998@web.de
  </p>

  <h2>EU-Streitschlichtung</h2>
  <p>
    Die Europ&auml;ische Kommission stellt eine Plattform zur
    Online-Streitbeilegung (OS) bereit: 
    <a
      href="https://ec.europa.eu/consumers/odr/"
      target="_blank"
      rel="noopener noreferrer"
      >https://ec.europa.eu/consumers/odr/</a
    >.<br />
    Unsere E-Mail-Adresse finden Sie oben im Impressum.
  </p>

  <h2>
    Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
  </h2>
  <p>
    Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor
    einer Verbraucherschlichtungsstelle teilzunehmen.
  </p>

  <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
</div>
