
.report-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 
  h2 {
    font-size: 1.5em !important;
    line-height: 40px !important;
  }
}


::ng-deep.mat-dialog-container {
  background: white;
  color: black;

 
}



a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
        color: #2efcd8;
    }
  }