<footer>
  <div class="left-container">
    <a (click)="openDialogLegalNotice()">Legal Notice</a> -
    <a  (click)="openDialogDataProtection()">Data Protection</a>
  </div>

  <div class="right-container">
    <a target="_blank" href="https://www.linkedin.com/in/marco-s%C3%BCss-ab5507213/">
      <img src="assets/footer-icons/linkedin-box-fill.png" />
    </a>
    <a target="_blank"  href="https://github.com/MarcoSuess">
      <img src="assets/footer-icons/github-fill.png" />
    </a>
    <a target="_blank" href="https://www.xing.com/profile/Marco_Suess13/cv">
      <img src="assets/footer-icons/xing-fill.png" />
    </a>
 

  </div>
</footer>
