<div class="project-container">
  <div
    (mouseenter)="project.showDescription = true"
    (mouseleave)="project.showDescription = false"
    style="background-image: url({{ project.image }})"
    [ngClass]="{ zoomAnimation: projektService.zoomAnimation }"
    class="preview-box"
    *ngFor="let project of projektService.showProjects"
  >
    <div *ngIf="project.showDescription" class="description">
      <h3>{{ project.name }}</h3>
      <p>{{ project.description }}</p>

      <a target="_blank" href="{{ project.projectUrl }}">Try out</a>

      <a target="_blank" class="jsdoc" href="{{ project.jsDocUrl }}">{{
        project.category == "Angular" ? "compoD
        oc" : "jsDoc"
      }}</a>
    </div>
  </div>
</div>
