



.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;


  @media screen and (max-width: 1250px) {
    width: 95vw;

  }

  @media screen and (max-width: 700px) {
    min-height: 100vh;

  }


 
}

.preview-box {
  height: 300px;
  width: 400px;
  margin: 16px 16px;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  @media screen and (max-width: 400px) {
    height: 32vh;
    width: 90vw;
  }

  @media screen and (max-width: 920px) {
    height: 208px;
    width: 300px;
  }



 
}


.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  animation: opacity 225ms ease-in-out;
  background: rgba(245, 245, 245, 0.9);

  h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #fa2759;
  }

  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: black;
    text-align: center;
  }

  a {
    background: #ffffff;
    border: 1px solid #fa2759;
    box-sizing: border-box;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 46px;
    color: #fb426e;
    text-decoration: none;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}





