



.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;


  @media screen and (max-width: 1250px) {
    width: 95vw;

  }

  @media screen and (max-width: 700px) {
    min-height: 100vh;

  }


 
}

.preview-box {
  height: 300px;
  width: 400px;
  margin: 16px 16px;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  @media screen and (max-width: 400px) {
    height: 32vh;
    width: 90vw;
  }

  @media screen and (max-width: 920px) {
    height: 260px;
    width: 300px;
  }



 
}


.description {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  animation: opacity 225ms ease-in-out;
  background: rgba(245, 245, 245, 0.9);

  h3 {
    font: Inter !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 20px !important;
    text-align: center;
    color: #fa2759;
  }

  p {
    font: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: black;
    text-align: center;
  }

  a {
    border-radius: 2px;
    margin-top: 32px;
    background: #ffffff;
    border: 1px solid #fa2759;
    box-sizing: border-box;
    font: Inter !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding: 16px 32px;
    color: #fb426e;
    text-decoration: none;
    transition: all 225ms ease-in-out;

    &:hover {
      background-color: #fa2759;
      color: white;
    }
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}


.jsdoc {
  position: absolute;
  right: 4px;
  bottom: 0;
 
 
    margin-bottom: 4px;
    border-radius: 8px 0px 8px !important;
    padding: 4px 4px !important;
  
}




