
<h2>My Works</h2>

<div class="links-container">
  <button
    [class.active]="title.active"
    (click)="assort(title.name)"
    *ngFor="let title of titles; let i = index"
    class="link-box"
  >
    {{ title.name }}
  </button>
</div>

<div class="project-container">
  <div
    (mouseenter)="project.showDescription = true"
    (mouseleave)="project.showDescription = false"
    style="background-image: url({{project.image}})"
    class="preview-box"
    *ngFor="let project of showProjects"
  >
    <div *ngIf="project.showDescription" class="description">
      <h3>{{ project.name }}</h3>
      <p>{{ project.description }}</p>
      <a href="">Try out</a>
    </div>
  </div>
</div>
