img {
  width: 30vw;
  height: 70vh;
  object-fit: cover;
  border-radius: 32px 0 0 32px;

  @media screen and (max-width: 1300px) {
    
    width: 40vw;
  }

  @media screen and (max-width: 800px) {
    
    height: 48vh;
  }

  @media screen and (max-width: 700px) {
    height: 32vh;
    width: 48vw;
    border-radius: 16px 16px 16px 16px
  }

}
                                                    