.home-section {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;

  @media screen and (max-width: 700px) {
    height: auto;
  }
}

.skill-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media screen and (max-width: 700px) {
    height: auto;
  }
}
.work-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64vh;

  /*  @media screen and (max-width: 1000px) {
    
  } */
}

app-work-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-container {
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;

  @media screen and (max-width: 700px) {
    height: auto;
    padding-top: 20%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.footer {
  height: 160px;
  background: #ffffff;
  display: flex;
  align-items: center;
}

app-footer-section {
  width: 100%;

  @media screen and (max-width: 700px) {
   height: 100%; 
  }
}

.links-container {
  margin-bottom: 16px;
  text-align: center;

  h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
  }
}

.link-box {
  transition: all 225ms ease-in-out;
  border: 2px solid #fa2759;
  box-sizing: border-box;
  width: 128px;
  height: 70px;
  background-color: black;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;


  &:hover {
    background: #fa2759;
  }

  @media screen and (max-width: 450px) {
    width: 30vw;
  }
}

.active {
  background: #fa2759;
}

.main-project-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;



  button {


    &:nth-child(2) {
      margin: 0px 8px 0px 8px !important;
    }
  }
  }
