<div class="container">
  <div id="section-Home" class="home-section bg-1 scroll">
    <app-home-section> </app-home-section>
  </div>

  <div id="section-Skill" class="skill-section bg-2 scroll">
    <app-skills-section></app-skills-section>
  </div>

  <div id="section-Portfolio" class="work-section bg-1 scroll">
    <app-work-section></app-work-section>
  </div>

  <div id="section-About" class="column-container bg-2 scroll">
    <app-about-section></app-about-section>
  </div>

  <div id="section-Contact" class="column-container bg-1 scroll">
    <app-contact-section></app-contact-section>
  </div>

  <div class="footer scroll">
    <app-footer-section></app-footer-section>
  </div>
</div>

