<div class="container">
  <div id="section-Home" class="home-section bg-1 scroll">
    <app-home-section> </app-home-section>
  </div>

  <div id="section-Skill" class="skill-section bg-2 scroll">
    <app-skills-section></app-skills-section>
  </div>

  <div id="section-Portfolio" class="main-project-container scroll">
    <div class="links-container">
      <h2>My Works</h2>
      <div class="btn-container">
        <button
          [class.active]="title.active"
          (click)="projectService.assort(title.name)"
          *ngFor="let title of projectService.titles; let i = index"
          class="link-box"
        >
          {{ title.name }}
        </button>
      </div>
    </div>
    <div  class="work-section bg-1">
      <app-work-section></app-work-section>
    </div>
  </div>

  <div id="section-About" class="column-container bg-2 scroll">
    <app-about-section></app-about-section>
  </div>

  <div id="section-Contact" class="column-container bg-1 scroll">
    <app-contact-section></app-contact-section>
  </div>

  <div class="footer scroll">
    <app-footer-section></app-footer-section>
  </div>
</div>
