h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: #2efcd8;
  margin-bottom: 16px;

  @media screen and (max-width: 700px) {
    text-align: center;
  }
}
.mail {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #2efcd8;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  label {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #f2f2f2;
    margin-bottom: 12px;

    @media screen and (max-width: 700px) {
      margin-left: 8px;
    }
  }

  input {
    background: #1a1a1a;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #989898;
    padding: 16px;
    border: none;
    margin-bottom: 16px;
  }

  textarea {
    background: #1a1a1a;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #989898;
    padding: 16px;
    border: none;
    margin-bottom: 16px;
  }
}



.send-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;


  :hover {
    background-color: #2dfcd8;
    color: white;
  }


  input {
    border: 2px solid #2dfcd8 ;
    box-sizing: border-box;
    width: 150px;
    height: 56px;
    right: 0;
    cursor: pointer;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    color: #2dfcd8 ;
  }
}


.reportBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  button {
    width: 150px;
    height: 56px;
    cursor: pointer;
  }

}