<h2>Contact me.</h2>
<p>
  Get in touch the form below, or by emailing
  <a class="mail" href="mailto:suess_1998@web.de">suess_1998@web.de</a>
</p>

<form action="">
  <label for="name">Name</label>
  <input placeholder="Enter your Name" type="text" />

  <label for="email">Email address</label>
  <input placeholder="Enter your Email address" type="text" />

  <label for="message">Message</label>
  <textarea  id="message" placeholder="Enter your Message"  rows="8"></textarea>

  <input class="send-btn" value="Send" type="submit">
</form>
