.about-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.intro-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #2dfcd8;
  padding-bottom: 64px;
  padding-top: 64px;

  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
    border: none;
    padding-bottom: 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin-left: 128px;

  h2 {
    margin-bottom: 0;
    color: white !important;
    font-weight: bold !important;

  }

  @media screen and (max-width: 700px) {
    margin-left: 0;

    p, h2 {
      width: 80vw !important;
    }

    h2 {
      text-align: center;
    }
  }
}

.about-section {
  display: flex;
  justify-content: center;
  

  @media screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;


    p {
      width: 80vw !important;
    }
  }

  p {
    width: 88%;
  }


  h3 {
    padding-top: 8px;
    font-weight: bold;
  }
}
.story-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-top: 32px;

  img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    background: #2dfcd8;
    border-radius: 50%;
    padding: 32px;
  }
}


p {
  font-size: 1.2em !important;
}