.about-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #2dfcd8;
  padding-bottom: 64px;

  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin-left: 128px;

  h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
  }

  
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
}
.story-box {
  display: flex;
  flex-direction: column;
  align-items: center ;
  width: 300px;
  margin-top: 32px;

  img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    background: #2DFCD8;
    border-radius: 50%;
    padding: 32px;
   
  }


}
