<div class="about-container">
  <div class="intro-box">
    <img src="assets/marco.jpg" />

    <div class="content">
      <h2>About me.</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla
        accusantium nobis animi quaerat ab iure debitis pariatur, exercitationem
        soluta repellat. Architecto facere aspernatur tempora expedita, non
        libero ipsum vero nulla.
      </p>
    </div>
  </div>

  <div class="about-section">
    <div *ngFor="let story of stories" class="story-box">
        
      <img src="{{ story.icon }}" />
      <h3>{{ story.title }}</h3>
      <p>
        {{ story.description }}
      </p>
    </div>
  </div>
</div>
