<header class="scroll">
  <h1 style="color: white">MS</h1>

  <div class="desk">
    <a (click)="anchorScroll.scrollTo('section-Home')">HOME</a>
    <a (click)="anchorScroll.scrollTo('section-Portfolio')">PORTFOLIO</a>
    <a (click)="anchorScroll.scrollTo('section-About')">ABOUT</a>
  </div>

  <mat-drawer-container class="example-container mobile" autosize>
    <mat-drawer
    [ngStyle]="{
      'display': drawer.opened ? 'block' : 'none'
    }"
      position="end"
      #drawer
      class="example-sidenav"
      mode="push"
    >
      <mat-list role="list">
        <mat-list-item
          (click)="anchorScroll.scrollTo('section-Home'); drawer.close()"
          role="listitem"
          >HOME</mat-list-item
        >
        <mat-list-item
          (click)="anchorScroll.scrollTo('section-Portfolio'); drawer.close()"
          role="listitem"
          >PORTFOLIO</mat-list-item
        >
        <mat-list-item
          (click)="anchorScroll.scrollTo('section-About'); drawer.close()"
          role="listitem"
          >ABOUT</mat-list-item
        >
      </mat-list>
    </mat-drawer>

    <div class="example-sidenav-content">
      <img (click)="drawer.toggle()" src="assets/menu_icon.png" />
    </div>
  </mat-drawer-container>
</header>
