.arrow-down {
  width: 54px;
  height: 54px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.bottom {
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  bottom: 50px;

  @media screen and (max-width: 800px) {
    bottom: 80px;
  }

  @media screen and (max-width: 700px) {
    bottom: 36px;
  }

  @media screen and (max-height: 760px) {
    display: none;
  }

}

.welcome-container {
  display: flex;
  margin-top: 128px;
  justify-content: space-between;

  @media screen and (max-width: 700px) {
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 80px;
  }
}

.description-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  @media screen and (max-width: 700px) {
    align-items: center;
  }
  
}