.arrow-down {
  width: 54px;
  height: 54px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: cover;
}
.bottom {
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  bottom: 50px;
}
