body {
  margin: 0 auto;
  background-color: #000000;
}

.primary-color {
  color: #fa2759;
}

.secondary-color {
  color: #2dfcd8;
}

.pos-relative {
  position: relative;
}

.bg-1 {
  background-color: black;
}

.bg-2 {
  background: #131111;
}

h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
