h1 {
  margin-top: 10%;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 4.5vw;
  line-height: normal;

  @media screen and (max-width: 800px) {
    line-height: 64px;
  }

  @media screen and (max-width: 700px) {
    
    font-size: 7.5vw;
  }
}
